html, body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 468px;
}

.outline {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;  
    
    height: calc(100vh - 20px)
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.palette-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: calc(100vh - 82px);
}

.palette-item {
    display: grid;
    grid-template-rows: calc(100vh - 132px) 1fr;
}

.color-height {
    height: calc(100vh - 132px);
}

.swatch-item {
    align-self: center;
    justify-self: center;
}

.sleek-outline {
    background-color: white;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.no-style{ 
    border: none;  
}

.small-padding {
    padding: 0.75rem 1rem;
}

.small-margin {
    margin: 1rem 1rem;
}

.large-size {
    min-width: 40px;
    height: 40px;
}

